<div  ng-controller="LoginController">
    <!-- el css de este se llama estilo-->
    <div class="row">
        <label class="col-xs-4"></label>
        <div id="content" class="col-xs-8">
            <form >
                <h1>LOGIN</h1>
                <div>
                    <input type="text" placeholder="Usuario" required="" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Entrar" ng-click="goVendedor()"/>
                </div>
            </form>
            <div class="boton">
                <p>Bienvenido A Deposito Emelina</p>
            </div>
        </div>
    </div>
</div>